
body
{
    font-family: "Consolas", monospace;
    color: white;
    background-color: #15202b;
}


a
{
    color: lawngreen
}

.center
{
    position: relative;
    text-align: center;
}

table
{
    margin-left: auto;
    margin-right: auto;
}

table, th, td
{
    border: 1px solid;
    border-collapse: collapse;
    border-color: rgb(128, 128, 128);
}


.search
{
    position: relative;
}

.thread-grid
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
    gap: 20px;
    margin-left: 100px;
    margin-right: 100px;
    
}


.thread-window
{
    border: 1px solid #38444d;
    border-radius: 10px;
    background-color: #192734;
    max-height: 400px;
    min-height: 400px;
    min-width: 256px;
    overflow: hidden;
}

.thread-window:hover
{
    max-height: 100%;
    max-width: 100%;
    border: 1px solid lawngreen;
}

.thread-image
{
    margin: 10px;
    border: 1px solid #38444d;
    border-radius: 10px;
    width: 240px;
    height: 240px;
}

.thread-title
{
    position: relative;
    text-align: center;
    background-color: #38444d;
    font-weight: bold;
    max-height: 20%;
    overflow: hidden;
}

.thread-text
{
    word-wrap: break-word;
    overflow: hidden;
}



.thread-post
{
    background-color: #192734;
    border: 1px solid #38444d;
    border-radius: 10px;
    display: inline-block;
    padding: 5px;

    overflow: hidden;
    word-wrap: break-word;
    max-width: 60%;
}

.post-info
{
    color: #7d7d7d;
}

.header
{
    background-color: #15202b;
    position: sticky;
    top: 0;

    z-index: 1;
}



.side-form
{
    display: inline-block;
    left: 70%;
    margin-right: 0%;
    top: 400px;
    position: fixed;
    z-index: 1;
}


.test-form
{
    display: inline-block;
}

.username-form input
{
    background-color: #192734;
    color: white;
    width: 100%;
}

.username-form
{
    margin-bottom: 5px;
}

.posting-form-textarea textarea
{
    background-color: #192734;
    color: white;
    width: 100%;
    min-width: 100%;
}

.add-file
{
    border: 2px dashed white;
    width: 100%;
    cursor: pointer;
}