
body
{
    font-family: "Consolas", monospace;
    color: white;
    background-color: #15202b;
}


a
{
    color: lawngreen
}

.center
{
    position: relative;
    text-align: center;
}

table
{
    margin-left: auto;
    margin-right: auto;
}

table, th, td
{
    border: 1px solid;
    border-collapse: collapse;
    border-color: rgb(128, 128, 128);
}


.search
{
    position: relative;
}

.thread-grid
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
    gap: 20px;
    margin-left: 100px;
    margin-right: 100px;
    
}


.thread-window
{
    border: 1px solid #38444d;
    border-radius: 10px;
    background-color: #192734;
    max-height: 400px;
    min-height: 400px;
    min-width: 256px;
}

.thread-image
{
    margin: 10px;
    border: 1px solid #38444d;
    border-radius: 10px;
    width: 240px;
    height: 240px;
}

.thread-title
{
    position: relative;
    text-align: center;
    background-color: #38444d;
    font-weight: bold;
    max-height: 20%;
    overflow: hidden;
}

.thread-text
{
    
    overflow: hidden;
    text-overflow: ellipsis;
}



.posting-form button, textarea, input
{
    background-color: #192734;
    color: white;
}

.thread-post
{
    background-color: #192734;

    border: 1px solid #38444d;
    border-radius: 10px;

    display: inline-block;
    padding: 5px;

    text-wrap: pretty;
}

.post-info
{
    color: #7d7d7d;
}

.post-text {
    word-wrap: break-word; /* Перенос слов */
    overflow-wrap: break-word; /* Поддержка старых браузеров */
    overflow: hidden; /* Скрытие текста, выходящего за границы */
    white-space: pre-line; /* Перенос строк */
}