{% extends 'main_app/base.html' %}

{%block body%}

<h1>OpenChan</h1>
<a href="{% url 'home' %}">На главную</a>

<p>Каталог /b/</p>

<a href="">Создать тред</a>

<div class = "catalog">

    <div class = "thread-window">
        <div class="thread-image">
            <p>картинка</p>
        </div>
        <p>тред 1</p>
    </div>

    <div class = "thread-window">
    <p>тред 2</p>
    </div>

    <div class = "thread-window">
    <p>тред 3</p>
    </div>

    <div class = "thread-window">
    <p>тред 4</p>
    </div>

    <div class = "thread-window">
    <p>тред 5</p>
    </div>

    <div class = "thread-window">
    <p>тред 6</p>
    </div>

    <div class = "thread-window">
    <p>тред 7</p>
    </div>

    <div class = "thread-window">
    <p>тред 8</p>
    </div>

    <div class = "thread-window">
    <p>тред 9</p>
    </div>
</div>

{%endblock body%}