{% extends 'main_app/base.html' %}
{% load static %}
{%block body%}

<h1>OpenChan</h1>
<a href="{% url 'home' %}">На главную</a>

<p>Каталог /b/</p>



<a href="">Создать тред</a>
<form action="">
<p><input type="text"  placeholder="Название"></p>

<p><textarea cols="30" rows="10" placeholder="Текст"></textarea></p>

<p><input type="file" >Добавить</p>
</form>

<select>
    <option>По бампам</option>
    <option>По времени</option>
</select>
<input type="search">

<p></p>


<div class = "thread-grid">

    {%for thread in threads%}
    
    <div class = "thread-window">
        <a href="{% url 'thread' board_tag='b' thread_id=1 %}"><img class="thread-image" src="{% static 'main_app/img/2ch.jpg' %}" alt="картинка"></a>
        <p class="thread-title"> Постов: 0/ Файлов: 0
            <br>{{thread.title}}</p>
        <p>{{thread.text}}</p>
    </div>
    {% endfor %}

    <div class = "thread-window">
        <img class="thread-image" src="{% static 'main_app/img/2ch.jpg' %}" alt="картинка">
        <p class="thread-title">name</p>
        <p>text</p>
    </div>

    <div class = "thread-window">
        <img class="thread-image" src="{% static 'main_app/img/2ch.jpg' %}" alt="картинка">
        <p class="thread-title">name</p>
        <p>text</p>
    </div>

    <div class = "thread-window">
        <img class="thread-image" src="{% static 'main_app/img/2ch.jpg' %}" alt="картинка">
        <p class="thread-title">name</p>
        <p>text</p>
    </div>

    <div class = "thread-window">
        <img class="thread-image" src="{% static 'main_app/img/2ch.jpg' %}" alt="картинка">
        <p class="thread-title">name</p>
        <p>text</p>
    </div>

    <div class = "thread-window">
        <img class="thread-image" src="{% static 'main_app/img/2ch.jpg' %}" alt="картинка">
        <p class="thread-title">name</p>
        <p>text</p>
    </div>

    <div class = "thread-window">
        <img class="thread-image" src="{% static 'main_app/img/2ch.jpg' %}" alt="картинка">
        <p class="thread-title">name</p>
        <p>text</p>
    </div>

    <div class = "thread-window">
        <img class="thread-image" src="{% static 'main_app/img/2ch.jpg' %}" alt="картинка">
        <p class="thread-title">name</p>
        <p>text</p>
    </div>

    <div class = "thread-window">
        <img class="thread-image" src="{% static 'main_app/img/2ch.jpg' %}" alt="картинка">
        <p class="thread-title">name</p>
        <p>text</p>
    </div>
</div>

{%endblock body%}