{% extends 'main_app/base.html' %}
{% load static %}
{%block body%}


<div class="center">
<h1>OpenChan</h1>
<a href="{% url 'home' %}">На главную</a>


<p>Каталог /{{board_tag}}/</p>

<p><button onclick="togglePostingForm()" id="posting-button">Создать тред </button></p>


<div class="posting-form" id="posting-form" style="display: none;">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p><input type="text" placeholder="Название" name="thread_title" required>
        <br><textarea cols="30" rows="10" name="thread_text" placeholder="Текст"></textarea></p>
        <p>Добавить файл<input type="file" name="image" value="" required></p>
        <p><button type="submit">Отправить</button></p>
    </form>
</div>


<p>
<div class="search">
<select class="sort-select" onchange="sortThreads()">
    <option>По бампам</option>
    <option>По времени</option>
    <option>По постам</option>
</select>

<input type="search" placeholder="Поиск...">
</div>

</div>
</p>

<div class = "thread-grid" id="thread-grid">
    {%for thread in threads%}
    <div class = "thread-window" data-creation-time="{{thread.creation_time}}" data-update-time="{{thread.update_time}}" data-all-posts="{{thread.all_posts}}">
        <a href="{% url 'thread' board_tag=board_tag thread_id=thread.id %}"><img class="thread-image" src="{{thread.image.url}}" alt="картинка"></a>
        <div class="thread-title"> Постов: {{thread.all_posts}}/ Файлов: 0
            <br>{{thread.title}}</div>
        <div class="thread-text">{{thread.text}}</div>
    </div>
    {% endfor %}


<script src="{% static 'main_app/js/board.js' %}"></script> 
<script src="{% static 'main_app/js/sort.js' %}"></script> 
{%endblock body%}