{% extends 'main_app/base.html' %}
{% load static %}


{%block body%}

<div class="header">
<a href=" {% url 'home' %}"> На главную</a>
<a href="{% url 'board' board_tag=board.tag %}">Назад</a>
</div>

<div class="center">
<h1>OpenChan</h1>
<h1>/{{board.tag}}/</h1>

<p><button onclick="togglePostingForm('1')" id="posting-button1">Ответить в тред</button></p>

<div class="posting-form" id="posting-form1" style="display: none;">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p><input type="text" placeholder="Аноним..." value="Аноним" name="user_name"></p>
        <p><textarea cols="30" rows="10" name="post_text" placeholder="Текст"></textarea></p>
        <p>Добавить файл<input type="file" value="" name="image"></p>
        <p><button type="submit">Отправить</button></p>
    </form>
</div>
</div>

<p><div class="thread-post">
    <div class="post-info">ОП {{thread.creation_time|date:"d/Y/H:i" }} {{thread.id}}</div>
    <img class="thread-image" src="{{thread.image.url}}" alt="обложка треда">
    <p><b>{{thread.title}}</b></p>
    <p>{{thread.text}}</p>
</div></p>



{% for post in posts %}
<p><div class="thread-post">
    <div class="post-info">{{post.user_name}} {{post.creation_time|date:"d/m/Y:i"}} {{post.creation_time|date:"H:i:s"}} {{post.id}}</div>
    {% if post.image %}
    <img class="thread-image" src="{{post.image.url}}" alt="картинка">
    {% endif %}
    <p class="post-text">{{post.text}}</p>
</div></p>

{% endfor %}

<div class="center">


<p><button onclick="togglePostingForm('2')" id="posting-button2">Ответить в тред</button></p>


<div class="posting-form" id="posting-form2" >
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p><input type="text" placeholder="Аноним..." value="Аноним" name="user_name"></p>
        <p><textarea cols="30" rows="10" name="post_text" placeholder="Текст"></textarea></p>
        <p>Добавить файл<input type="file" value="" name="image"></p>
        <p><button type="submit">Отправить</button></p>
    </form>
</div>
</div>

<script src="{% static 'main_app/js/thread.js' %}"></script> 
{%endblock body%}