{% extends 'main_app/base.html' %}
{% load static %}


{%block body%}

<a href=" {% url 'home' %}"> На главную</a>

<p><div class="thread-post">
    <div class="post-info">ОП {{thread.creation_time|date:"d/Y/H:i" }} {{thread.id}}</div>
    <p>{{thread.text}}</p>
</div></p>



{% for post in posts %}
<p><div class="thread-post">
    <div class="post-info">{{post.user_name}} {{post.creation_time|date:"d/Y/H:i" }} {{post.id}}</div>
    <p>{{post.text}}</p>
</div></p>

{% endfor %}


<div class="posting-form" id="posting-form">
    <form action="" method="post">
        {% csrf_token %}
        <p><input type="text" placeholder="Аноним..." value="Аноним" name="user_name"></p>
        <p><textarea cols="30" rows="10" name="post_text" placeholder="Текст"></textarea></p>
        <p>Добавить файл<input type="file" value=""></p>
        <p><button type="submit">Отправить</button></p>
    </form>
</div>



{%endblock body%}